.form-scroll {
  max-height: 300px; /* adjust as needed */
  overflow-y: auto;
  padding-right: 8px; /* space for scrollbar */

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-scroll::-webkit-scrollbar {
  width: 6px;
}

.form-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
